@page
@{
    ViewData["Title"] = "Home page";
}
    <main>
        <section class="leading">
            <p class="leading-bigtext">Wizme</p>
            <p class="leading-text">This site makes meetings and events magical.</p>
        </section>
        <section class="cards">
            <article>
                <img class="article-img" src="~/images/1.jpg" alt=" " />
                <h1 class="article-title">
                    Observatory SD
                </h1>
            </article>
            <article>
                <img class="article-img" src="~/images/2.jpg" alt=" " />
                <h1 class="article-title">
                    Epicure
                </h1>
            </article>
            <article>
                <img class="article-img" src="~/images/3.jpg" alt=" " />
                <h1 class="article-title">
                    Indianapolis, IN
                </h1>
            </article>
            <article>
                <img class="article-img" src="~/images/4.jpg" alt=" " />
                <h1 class="article-title">
                    Title of article
                </h1>
            </article>
            <article>
                <img class="article-img" src="~/images/5.jpg" alt=" " />
                <h1 class="article-title">
                    Healey Barn
                </h1>
            </article>
            <article>
                <img class="article-img" src="~/images/6.jpg" alt=" " />
                <h1 class="article-title">
                    Sapna Caterers
                </h1>
            </article>
        </section>
    </main>
